@import '../mixins/breakpoint.scss';

.Base_Editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  
  .Base_Editor-EditorContainer {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .Base_Editor-editorwrap {
      display: flex;
      width: 100%;
      height: 100%;
      max-height: 100%;
      
      .Base_Editor-editor {
        color: honeydew;
        max-height: 100%;
        overflow-y: hidden;
        flex: 4;
        display: flex;
        flex-direction: column;
        position: relative;

          .Base_Editor-editor-view {
            ul {
              // margin: 0;
              // padding: 0;
              list-style: none;
              .tab {
                margin-left:40px;
              }
              .item {
                display: flex;
                color: black;
                .grid {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-around;
                  width: 256px;
                  div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 32%;
                    height: 82px;
                    margin-bottom: 5px;
                    background-color: grey;
                  }
                }
              }
            }
            .main-node-container {
              .node-container {
                .tab {
                  margin-left: 40px;
                }
                div {
                  color: black;
                }
                .property-node {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin: 0;
                  padding: .5em 1em;
                  
                  span {
                    color: black;
                  }
  
                  button {
                    background: transparent;
                    border: none;
                    opacity: .5;
                    cursor: pointer;
                    color: black;
                    font-size: 1.5rem;
                    padding: 0;
                    margin-right: 50px;
              
                    svg {
                      transition: transform .2s;
                    }
              
                    &:hover {
                      opacity: 1;
                    }
              
                    &[disabled] {
                      width: 1em;
                    }
                  }
                }
                .property {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: .5em 1em;

                    
                  button {
                    background: transparent;
                    border: none;
                    opacity: .5;
                    cursor: pointer;
                    color: black;
                    font-size: 1.5rem;
                    padding: 0;
                    margin-right: 54px;
              
                    svg {
                      transition: transform .2s;
                    }
              
                    &:hover {
                      opacity: 1;
                    }
              
                    &[disabled] {
                      width: 1em;
                    }
                  }
                }
              }
            }
          }
      }
    }
  }
}

#Base_Editor-editor-menu {
  width: 100%;
  max-width: 20rem;
  overflow-y: auto;
  max-height: 100%;
  border-right: 1px solid rgba(255, 255, 255, .2);
  position: absolute;
  z-index: 55;
  background: grey;
  top: 5rem;
  bottom: 0;
  left: -20rem;
  transition: left .2s;
  user-select: none;

  @include breakpoint($sm) {
    position: relative;
    flex: 0 0 20rem;
    left: unset;
    top: unset;
  }

  &.active {
    left: 0;
  }

  h2 {
    margin: 0;
    padding: .5em 1em;
    border-bottom: 1px solid rgba(255, 255,255, .1);
    text-transform: uppercase;
    position: sticky;
    // top: 2.5rem;
    z-index: 5;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
    small {
      opacity: .6;
    }

    button {
      background: transparent;
      border: none;
      opacity: .5;
      cursor: pointer;
      color: black;
      font-size: 1.5rem;
      padding: 0;

      svg {
        transition: transform .2s;
      }

      &:hover {
        opacity: 1;
      }

      &[disabled] {
        width: 1em;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 3rem;

    li {
      padding: .5em 1em .5em 2em;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      &:before {
        position: absolute;
        left: .5em;
        background: rgba(0,0,0,.2);
        border-radius: 1rem;
        font-size: .8rem;
        font-family: "Source Code Pro", monospace;
        padding: .25rem;
        width: 1em;
        text-align: center;
        height: 1em;
        line-height: 1;
        opacity: .75;
      }

      &.active {
        background-color: rgba(255,255,255,.1);
      }
      &.modified {
        background-color: rgba(252, 252, 0, .1);
        &:before {
          content: 'M';
        }
      }
      &.new {
        background-color: rgba(124, 252, 0, .1);
        &:before {
          content: 'N';
        }
      }
      &:hover {
        background-color: rgba(255,255,255,.15);
      }

      small {
        opacity: .5;
        font-size: smaller;
        display: block;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }
  }

  .Base_Editor-sets {
    > ul {
      > li {
        padding: 0;
        flex-direction: column;
        align-items: stretch;
        &:hover {
          background: transparent;
        }
        ul {
          margin-bottom: 0;
          li {
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  .Base_Editor-tiers {
    > ul {
      > li {
        padding: 0;
        flex-direction: column;
        align-items: stretch;
        &:hover {
          background: transparent;
        }
        ul {
          margin-bottom: 0;
          li {
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}
    // > li {
    //   > span {
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     .Base_Editor-weight {
    //       opacity: .5;
    //     }
    //   }
    //   &:hover {
    //     button {
    //       opacity: .5;
    //     }
    //   }
    // }
  // }

.editor-menu-item {
  h3 {
    margin: 0;
    padding: .5rem;
    color: darkgrey;
    border-bottom: gray 1px solid;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    &:hover {
      .actions {
        button {
          opacity: .5;
        }
      }
    }
    button {
      background: transparent;
      border: none;
      opacity: .5;
      cursor: pointer;
      color: white;
      font-size: 1.5rem;
      padding: 0;
      margin-right: .5rem;
      svg {
        transition: transform .2s;
      }
      &:hover {
        opacity: 1;
      }
      &[disabled] {
        width: 1em;
      }
    }
    .actions {
      button {
        opacity: 0;
        font-size: 1rem;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.side-padding-25 {
  padding: 0px 25px
}