.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.editorMenu {
  flex: 0 0 20rem;
  width: 100%;
  background-color: #fff000;
}

.editor {
  flex: 4;
  width: 100%;
  background-color: #000fff;
}

.editorContainer > div > h2 > button {
  background: transparent;
  border: none;
  opacity: .5;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  padding: 0;
}